*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
.env
.vscode
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
share/
tmp/
var/
bin/
lib/
lib64/
.obsidian
Data*.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
include/
pyvenv.cfg
alirpunkto/static/logo_cosmopolitical.png
