@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Réinitialisation et bases */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background: #f5f5f5; /* Fond plus clair pour améliorer la lisibilité */
}

/* Conteneur principal et mise en page */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* En-tête */
header {
  background: #fff; /* Fond clair pour l'en-tête */
  color: #333; /* Texte foncé pour contraster avec le fond clair */
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ajout d'une légère ombre pour la profondeur */
}
header img.logo {
  max-height: 60px;
  margin-bottom: 20px;
}

/* Typographie et liens */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  color: #444; /* Couleur plus foncée pour un meilleur contraste */
}
p {
  line-height: 1.6;
}
a {
  color: #007bff; /* Couleur bleue pour les liens, pour la cohérence et la lisibilité */
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #0056b3;
}

/* Boutons et formulaires */
button, input[type="submit"] {
  background-color: #007bff; /* Couleur bleue pour les boutons, pour l'accessibilité */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
}
input[type="email"], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: burlywood;
}

/* Sections et marges */
.section {
  margin: 20px 0;
  background: #fff; /* Fond clair pour les sections */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour la profondeur */
}
.form-group {
  margin-bottom: 15px;
}

/* Erreurs et validations */
.error, .help-block {
  color: #d9534f;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.help-block {
  display: none;
}

.help-block:hover::after {
  content: attr(title);
  display: block;
  position: absolute;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  width: 200px;
}
/* Média queries pour responsive design */
@media (max-width: 768px) {
  header, .container {
    padding: 10px;
  }
  header img.logo {
    margin: 10px 0;
  }
}

/* Pied de page */
footer {
  background: #007bff; /* Fond bleu pour le pied de page, avec texte blanc pour le contraste */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
footer a {
  color: #fff;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #a8d8ea;
}
